/* body { 
	max-width: 1200px;
    height: auto; 
	margin: -25px auto !important; 
	float: none !important; 
    padding-top: 50px;
} */
.menu-header, .footer-content, .img-link, .news1, .advise-1, .advise-free,.hospital-doctor,.top-header 
, .all-doctor
{
    display: flex;
}
.menu-header img{
    width: 230px;
    height: auto;
}
.menu-header p {
    color: black;
    padding-top: 15px;
    font-size: 10px;
}

a.nav-link {
    color: black;
    font-weight: 500;
    font-size: 17px;
}
.book a {
    color: white;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    background-color: #00ac4f;
    padding: 12px;
    border-radius: 15px;
}
.book {
    margin-top: 65px;
}
/* Slide show */
.carousel-inner img{
    width: 100%;
    height: 600px;
    
}
/* welcom */

.welcom{
    padding: 100px 0;
}
.take-care {
    display: flex;
}
.take-care h1{
    color:white;
}
.service-content {
    background: #f5f8fa;
}
.care{
    padding-top: 40px;
    text-align: center;
}
.care h2, .eyes h2,.team-doctor h2{

    padding: 30px 0;
    font-size: 1.8rem;
    color: #0D9851;
}
.eye-service h2, .image-gallery h2, .news h2{
    padding: 30px;
    text-align: center;
    color: #00ac4f;
}
.eye-disease {
    margin: 15px;
    padding-bottom: 40px;
    background: white;
}
.eye-disease h2{
    font-size: 15px;
    font-weight: 700;
    color: #0D9851;
    text-align: center;
}
.more {
    background-color: #009247;
    color: white;
    padding: 10px;
    margin: 0 50px;
}
.care p{
    color: #6A6969;
    text-align: center;
    margin: 0 10px;
}
.eyes p{
    color: black;
    font-size: 16px;
    text-align: center;
    height: 125px;
    margin: 0 10px;
}
/* Content */
.content-top img {
    padding: 69px 0;
}
.content {
    background: #f5f8fa;
}
.ambulance-icon {
    position: relative;
    top: -105px;
    left: 15px;
}
.ambulance-icon2 {
    position: relative;
    top: -390px;
    left: 445px;
    margin-bottom: -155px;
}

.ambulance-icon3 {
    float: right;
    top:0;
    left: 0;
    right: 0;
}
.ambulance-icon img, .ambulance-icon2 img, .ambulance-icon3 img{
    width: 100px;
    height: 100px;
}
.right-content1 {
    padding-top: 200px;
}
.ambulance-icon2{
    width: 100px;
    height: 100px;
}
.eyes {
    text-align: center;
    display: flex;
}
/* footer */
footer{
    color: white;
    padding-top: 100px;
    background-color: #009247;
}
.footer-img {
    display: flex;
}
.img-dmca {
    float: right;
    margin-top: 20px;
}
footer li{
    list-style: none;
    line-height: 40px;
}
.footer-content p {
    line-height: 28px;
}
.footer-content h3{
    padding-left: 30px;
}
.footer-follow {
    padding: 50px 0 30px 0;
    color: white;
    font-size: 20px;
    display: flex;
}
.follow {
    background-color: #1bb462;
}
input[type="submit"] {
    border: none;
    color: white    ;
    font-weight: 500;
    background-color: #3fa34d;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    padding: 5px;
}
input.form-control {
    background: #f1f7fa;
    color: #1f1f1f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#website {
    color: white;
    text-decoration: none;
}
.cross{
    width: 100%;
    height: 10px ;
    background: white;
}
.note {
    font-size: 15px;
    text-align: center;
}
.img-link iframe{
    width: 415px;
    height: 300px;
}
.img-link img {
    width: 432px;
    height: 300px;
}
.img-link {
    padding-left: 12px;
}
.picture-all {
    position: relative;
    left: 145px;
    bottom: 41px;
    background-color: #1bb462;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 0;
    margin-left: -145px;
    margin-right: 145px;
    text-align: center;
}
/* news-content */
.news-contents {
    padding: 30px 12px;
}
.news-contents a {
    background: white;
    padding:30px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #00ac4f;
    text-decoration: none;
}
.text-news p {
    background: white;
    padding: 20px 10px;
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

/*  */
.book-now a, .get-advise a{
    text-decoration: none;
} 
.advise-free h2{
    padding: 50px 0;
    color: #00ac4f;  
    font-size: 45px;
    line-height: 1.3;

}
.advise-free p{
    font-size: 20px;
    font-weight: 500;
}
.book-now a{
    color: white;
}
.book-now{
    box-shadow: 0px 9px 16px 0px #999;
    padding: 15px;
    background-color: #00ac4f;
    margin-right: 50px;
    font-weight: 700;
    border-radius: 30px;
}
.get-advise a{
    color: #00ac4f;
}
.get-advise{
    box-shadow: 0px 9px 16px 0px #999;
    padding: 15px;
    background-color: white;
    font-weight: 700;
    border-radius: 30px;
}
/*  */

.hospital-doctor img {
    padding: 30px 95px;
    color: #009247;
}
.hospital-doctor h1{
    font-weight: bold;
    text-align: center;
}
.hospital-doctor p{
    font-size: 18px;
    text-align: center;
}
/* mess */
.mess img{
    width: 70px;
    height: 70px;
}
.mess {
    position: fixed;
    right: 20px;
    top:90%
}
.team-doctor {
    padding-bottom: 100px;
    background: #f5f8fa;
}
.team-doctor h2{
    text-align: center;
}
.doctor-1 {
    background-color: #f8fdfa !important;
}.doctor-1 img{
    border-radius: 50%;
}
.doctor{
    padding-top: 25px;
}
.doctor-1{
    height: 405px;
    margin: 8px;
    padding: 40px;
    text-align: center;
}
.name-doctor{
    padding-top: 20px;
    color: black;
    font-weight: 600;
}
.doctor-1 p{
    line-height: 13px;
}